<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds">

    <define name="propExists" class="ch.qos.logback.core.property.ResourceExistsPropertyDefiner">
        <resource>application.properties</resource>
    </define>

    <if condition='${propExists}'>
        <then>
            <property resource="application.properties" />
        </then>
        <else>
            <property resource="application.yml"/>
        </else>
    </if>

    <springProperty name="app-name" source="app.name"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>
                %d{YYYY-MM-dd HH:mm:ss.SSS}||${app-name}||%-5level||%X{request-id}||%X{remote-address}:%X{remote-port}||%X{user-id}||%msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>